.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 1px;
    border-radius: 22px;
    height: 70px;
    margin: 0.5%;
}

a {
    text-decoration: none;
}