<!-- <div class="container-user">
  <a routerLink="/users">Patsiyent</a>
</div> -->

<div class="container-article">
  <div class="continer-news">
    <div class="container-foto">
      <img src="/src/assets/312246.jpg" alt="doctor-foto">
    </div>

    <div class="news-paper">
      <h2>
        Хворий пацієнт
      </h2>

      <label for="login">login</label>
      <input type="text" placeholder="login">
      <label for="password">password</label>
      <input type="password" placeholder="password">
      <div>
        <button>Увійти</button>
        <button>Зареєструватися</button>
      </div>
    </div>
  </div>

<!-- <router-outlet>
</router-outlet> -->